<body>
    <br>
    <div class="container">
        <h1>
            Welcome <strong>{{username}}</strong>
            <hr>
        </h1>
    </div>
</body>
<style>
    .login,
    .register {
        visibility: hidden;
    }
    .logout {
        visibility: visible;
    }
</style>